/*  ****  Notes  *****

syntax of css
    Selector { property: value;}

        Selector = element you want to style (body, h1, hr, ect)
        property = what do you want to change (color, size, ect)
        value = how do your want to change it (color name, size value, ect)
        
        example: 
            body{color: red;}
                Selector = body
                property = color
                value = red
*/
body{
    background-color: #EAF6F6;
}

hr {
    /* top | right | bottom | left */
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}